:root{
    --textColor: #f5f5f5;
    --backgroundColor: #212121;   /*sotet*/
    --outlineColor: #3d3d3d;      /*kozepesen sötét*/
    --buttonColor: #525252;    /*legkevésébé sötét*/
    --borderColor: #171717;       /*legsotettebb*/
    --headerColor: #333333;

    --tableAlteringColorLight: #5c5c5c;
    --tableAlteringColorDark: #474747;
}

body{
    background-color: var(--backgroundColor);
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    background-color: var(--outlineColor);
    color: var(--textColor);
    border:2px solid var(--borderColor);
    border-radius: 10px;

    padding: 3em;
    margin: auto;
    width: 50vw;
}

#adatbevitel{
    margin: auto;
    margin-bottom: 0;
    background-color: var(--buttonColor);
    height: 5em;
    padding-top: 1em;

    border-right: 2px solid var(--borderColor);
    border-left: 2px solid var(--borderColor);
    border-top: 2px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);

    text-align: center;

    width: 50vw;
}
input{
    width: 5em;
    height: 1.5em;
    margin-right: 2em;
    margin-left: 1em;
    border: 1px solid var(--borderColor);

    background-color: #3d3d3d;
    color: var(--textColor);
    text-align: center;
}


table{
    border-spacing: 0;
    border: 1px solid var(--borderColor);
    background-color: var(--buttonColor);
    width: 50.2vw;
}

tr{
    background-color: var(--buttonColor);
}

th{
    background-color: var(--headerColor);
    height: 2em;
}

td{
    height: 1.5em;
}

td, th{
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    text-align: center;
}

#OM{
    width: 7em;
}

#Nev{
    width: 9em;
    cursor: pointer;
}

#Nev:hover{
    background-color: var(--backgroundColor);
}


#Matek{
    width: 4em;
    cursor: pointer;
}

#Matek:hover{
    background-color: var(--backgroundColor);
}

#Magyar{
    width: 4em;
    cursor: pointer;
}

#Magyar:hover{
    background-color: var(--backgroundColor);
}

#Osszesen{
    width: 5em;
    cursor: pointer;
}

#Osszesen:hover{
    background-color: var(--backgroundColor);
}

#atlagok{
    margin-top: 1em;
}

#matekAtlag{
    display: inline-block;
    margin-right: 2em;
}

#magyarAtlag{
    display: inline-block;
    margin-right: 2em;
}

#osszPontAtlag{
    display: inline-block;
}